<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tn.esprit.mramaapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_mrama"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MramaApp"
        tools:targetApi="31">
        <activity android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AvisListActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".row"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".clientActivities.BonPlanActivity"
            android:exported="false"
            android:label="BonPlanActivity" />
        <activity
            android:name=".clientActivities.OutillageActivity"
            android:exported="false"
            android:label="OutillageActivity" />
        <activity
            android:name=".ouvrierActivities.OuvriersActivity"
            android:exported="false"
            android:label="OuvriersActivity" />
        <activity
            android:name=".ouvrierActivities.UpdateActivity"
            android:exported="false"
            android:label="UpdateActivity" />
        <activity
            android:name=".ouvrierActivities.ProfilActivity"
            android:exported="false"
            android:label="ProfilActivity" />
        <activity
            android:name=".ouvrierActivities.HomeoActivity"
            android:exported="false"
            android:label="HomeoActivity" />
        <activity
            android:name=".clientActivities.HomecActivity"
            android:exported="false"
            android:label="HomecActivity" />
        <activity
            android:name=".ItemActivity"
            android:exported="false"
            android:label="ItemActivity" />
        <activity
            android:name=".AproposActivity"
            android:exported="false" />
        <activity
            android:name=".AvisActivity"
            android:exported="false" />
        <activity
            android:name=".SigninActivity"
            android:exported="false" />
        <activity
            android:name=".LoginvActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>